{% extends 'base.html.twig' %}

{% block title %}Inscription!{% endblock %}

{% block titre %}
Inscription !
{% endblock %}

{% block body %}

    <div style="margin:2% 40%; color:white; background:gray">
        {{ form_start (form) }}
        {{ form_row (form.username, {"attr":{"placeholder":"username"}, "label":"Votre nom d'user"}) }}
        {{ form_row (form.password, {"attr":{"placeholder":"password"}, "label":"Votre password"}) }}
            {{ form_widget (form) }}
        <input type="submit" class="btn btn-success" value="Valider">
        {{ form_end (form) }}
    </div>

{% endblock %}
