{% extends 'base.html.twig' %}

{% block title %}
	LES BONS FRUITS !
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		{% block titre %}
			<h3 class="text-light text-light d-flex justify-content-center">
				<span class="bg-dark">
					<b>-- MON PANIER FRUITS --</b>
					{% if isCalorie %}
						PAR QUANTITES DE CALORIES
					{% endif %}</span>
			</h3>
		{% endblock %}
	</div>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">{{message}}</div>
			{% endfor %}

	<div class="section">
		{% for aliment in aliments %}
			{# <div class="card" style="width: 20rem;">
				<img class="card-img-top" src="{{ asset('images/'~ aliment.image ) }}" alt="Card image cap">
				<hr>
				<div class="card-body">
					<h2 class="card-title">{{aliment.nom}}</h2>
				</div> #}
			<div class="card mr-2 mb-5 circle" style="width: 20rem;">
				<img class="card-img-top bg-dark" style="background-image: url('../images/assort.jpg')" src="{{ asset('images/'~ aliment.image ) }}" alt="Card image cap">
				<div class="card">
					<h4 class="text-center">{{aliment.nom}}</h4>
				</div>

				<ul class="list-group list-group-flush">
					<li class="list-group-item bg-dark text-light">Prix :
						{{aliment.prix}}</li>
					<li class="list-group-item">Nombre de calorie :{{aliment.calorie}}</li>
					<li class="list-group-item bg-dark text-light">Quantité de glucide :
						{{aliment.glucide}}</li>
					<li class="list-group-item">Quantité de Lipide :
						{{ aliment.Lipide}}</li>
					<li class="list-group-item bg-dark text-light">Quantité de proteine :
						{{aliment.proteine}}</li>
				</ul>
				<div class="btnModifSupp" style="background-image: url('../images/assort.jpg')">
					<a href="{{path('modif_aliment', {'id' : aliment.id})}}">
						<button class="btn btn-warning col-12 mt-3 mb-2">Modifer</button>
					</a>
					<form
						method="POST" action="{{path('supp_aliment', {'id' : aliment.id}) }}">
						{# input security control pour verifier que le token est le bon #}
						<input type="submit" value="supprimer" class="btn btn-danger col-12 mb-1">
						<input
						type="hidden" name="_token" value="{{csrf_token('SUP' ~ aliment.id)}}">
						{# input afin d'éviter conflit avec le input dans le controller #}
						<input type="hidden" name="_method" value="delete">
					</form>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
